html, body{
    margin: 0 auto;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header header header header"
                            "footer footer footer footer"
                            ". image section section";
                            background-color: #fbf7f8;
}
header{
    background-color: #fbf7f8;
    position: -webkit-sticky;
    position: sticky; top: 0;
    margin: 0;
    grid-area: header;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "h1 ham";
    z-index: 2;
    align-content: center;
}

ul {
    list-style-type: none;
    
}
h1{
    margin: 0;
    margin-left: 1em;
    width: 6em;
    grid-area: h1;
    color: #52292e;
    height: 3.5em;
    align-content: center;
    font-size: 26.46pt;
}
section{
    grid-area: section;
    z-index: 1;
    border-radius: 1em;
    box-shadow: 0.01em 0em 0.01em white;
    margin: 2em;
    background-color: #fbf7f8;
    color: #52292e;
}
img{
    grid-area: image;
    align-content: center;
    width: 24.48em;
    height: 32.64em;
    margin-left: 2em;
    border-radius: 1em;
    box-shadow: 0.01em 0em 0.01em white;
}
.sidemenu{
    background-color: lightgray;
    color: aliceblue;
    z-index: 3;
    box-shadow: -0.1em 0em 0.625em gray;
    position: -webkit-sticky;
    position: sticky; top: -1em;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    display: none;
}
nav{
    width: 15em;
    display: inline;
    text-align: right;
}
li{
    display: inline;
    text-align: right;
    margin-right: 3.5em;
    text-decoration: none;
    font-size: 13.5pt;
}
a{
    text-decoration: none;
    color: black;
    border-bottom: solid #fbf7f8;
    transition: border-bottom 0.5s;
}
p{
    margin: 6em;
    font-size: 13.5pt;
}
h2{
    margin: 1.5em;
    font-size: 18pt;
}
footer{
    grid-area: footer;
    background-color: #fbf7f8;
    margin-bottom: 1em;
    border-top: solid #52292e;
}
:root {/*https://rsms.me/inter/*/
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }
  a:hover{
    border-bottom: solid #52292e;
  }