html, body{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header header"
                            "section image"
                            "footer footer";
}
header{
    background-color: #1DD05D;
    position: sticky;
    padding-top: 1em;
    margin: 0;
    grid-area: header;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "h1 nav";
}
ul {
    list-style-type: none;
}
h1{
    margin: 0;
    width: 10em;
    grid-area: h1;
}
section{
    grid-area: section;
}
img{
    grid-area: image;
}
footer{
    background-color: #1DD05D;
    grid-area: footer;
}
nav{
    width: 20em;
    grid-area: nav;
}
li{
    display: inline;
    text-align: left;
    margin-left: 3.5em;
}